/* Homepage */

/* .homepage {
  background-color: black;
  color: white;
} */

.h1-custom {
  font-size: 5rem;
  color: aliceblue;
  font-family: 'Press Start 2P', cursive, sans-serif;
}

.powerup-font{
  font-family: 'Press Start 2P', cursive, sans-serif;
}

.img-smaller{
  max-height: 5rem;
}

/* .login {
  background-color: chartreuse;
}

.navbar-custom{
  margin-left: auto;
} */
