/* Homepage */

/* .homepage {
  background-color: black;
  color: white;
} */

.h1-custom {
  font-size: 3rem;
  color: aliceblue;
  font-family: 'Press Start 2P', cursive, sans-serif;
}

.powerup-font{
  font-family: 'Press Start 2P', cursive, sans-serif;
}

.img-smaller{
  max-height: 5em;
}

@media screen and (max-width: 576px) {
  .img-smaller{
    max-height: 3rem;
  }
}

@media screen and (max-width: 455px) {
  .img-smaller{
    display: none;
  }
}

/* .login {
  background-color: chartreuse;
}

.navbar-custom{
  margin-left: auto;
} */
