/* Homepage */

.homepage {
  background-color: black;
  color: white;
}

h1 {
  font-size: 1000px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login {
  background-color: chartreuse;
}

.navbar-custom{
  margin-left: auto;
}
